body{
    text-align:center;
    }
img 
    { width:30%;
    }
    .Best{
        color: Red;
        }
    .Two
     {color: Gold;
     }   
     
     .Three
     {color: Blue;
     }
     
     .Four
     {color: Green;
     }